
services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo 
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: unless-stopped
  
  odoo:
    image: odoo:18
    container_name: odoo
    ports:
      - "8069:8069" 
    depends_on:
      - db
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - odoo_data:/var/lib/odoo 
      - ./extra-addons:/mnt/extra-addons
    restart: unless-stopped 
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_container
    ports:
      - 5050:80
    environment:
      PGADMIN_DEFAULT_EMAIL: user@example.com
      PGADMIN_DEFAULT_PASSWORD: Admin123..
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    restart: unless-stopped

volumes:
  pgadmin_data:
  odoo_data:
  postgres_data: